{% extends 'core/base.html' %}
{% load static %} {# Ensure you have this at the top if you're using static files #}
{% block title %} {{ property.description }} {% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
<div class="col-span-3">
<img src="{{ property.image.url }}" class="rounded-xl" alt="">
</div>
<div class="col-span-2 p-6 bg-gray-100 rounded-xl">
<h1 class="text-3xl mb-4">Property Details</h1>
<div class="bg-white rounded-xl p-4 mb-6">
<h2 class="text-xl font-semibold mb-2">Description</h2>
<p class="text-gray-700">{{ property.description }}</p>
</div>


    <div class="grid grid-cols-2 gap-4 mb-6">
        <div class="bg-white rounded-xl p-4 flex items-center">
            <i class="fas fa-pound-sign text-lg text-gray-500 mr-2"></i>
            <div>
                <p class="font-semibold">Price per week</p>
                <p>{{ property.ppw }}</p>
            </div>
        </div>
        <div class="bg-white rounded-xl p-4 flex items-center">
            <i class="fas fa-user text-lg text-gray-500 mr-2"></i>
            <div>
                <p class="font-semibold">Pet Friendly</p>
                {% if property.pet_friendly == True %}
                <p>Yes</p>
                {% else %}
                <p>No</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-6">
        <div class="bg-white rounded-xl p-4 flex items-center">
            <i class="fas fa-map-marker-alt text-lg text-gray-500 mr-2"></i>
            <div>
                <p class="font-semibold">Postcode</p>
                <p>{{ property.postcode }}</p>
            </div>
        </div>
        <div class="bg-white rounded-xl p-4 flex items-center">
            <i class="fas fa-calendar-alt text-lg text-gray-500 mr-2"></i>
            <div>
                <p class="font-semibold">Tenancy Length</p>
                <p>{{ property.category.name }}</p>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-6">
        <div class="bg-white rounded-xl p-4 flex items-center">
            <i class="fas fa-map-marker-alt text-lg text-gray-500 mr-2"></i>
            <div>
                <p class="font-semibold">Bathrooms</p>
                <p>{{ property.number_of_bathrooms }}</p>
            </div>
        </div>
        <div class="bg-white rounded-xl p-4 flex items-center">
            <i class="fas fa-calendar-alt text-lg text-gray-500 mr-2"></i>
            <div>
                <p class="font-semibold">Bedrooms</p>
                <p>{{ property.number_of_beds }}</p>
            </div>
        </div>
    </div>

    {% if request.user == property.created_by %}
    <div class="bg-white rounded-xl p-4 text-center">
        <p>This is your property!</p>
        <div class="flex justify-around mt-4">
            <a href="{% url 'property:edit' property.id %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">EDIT</a>
            <a href="{% url 'property:delete' property.id %}" class="px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">DELETE</a>
        </div>
    </div>
    {% else %}
    <div class="text-center">
        <a href="mailto:Theo03iou@outlook.com" class="inline-block m-6 px-6 py-6 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Email Seller</a>
        <a href="{% url 'property:favourite_add' property.id %}" class="inline-flex items-center mt-4 px-6 py-6 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">
            Add to favourites
            <svg class="w-6 h-6 ml-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 20">
                <path d="M13 20a1 1 0 0 1-.64-.231L7 15.3l-5.36 4.469A1 1 0 0 1 0 19V2a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v17a1 1 0 0 1-1 1Z"/>
            </svg>
        </a>
        
        
        
    </div>
    {% endif %}
</div>



</div>
{% endblock %}