{% extends 'core/base.html' %}
{% block title %} {{ property.price_pcm }} {% endblock %}

{% block content %}

<div class="pb-6 grid grid-cols-4 gap-4 bg-gray-100">
    <div class="col-span-1">
        <form action="{% url 'property:properties' %}" method="get">
            <input name="query" value="{{ query }}" type="text" class="w-full py-4 px-6 border rounded-xl" placeholder="Enter a Country, City or Postcode">
            <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
            <a href="{% url 'property:properties' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white">Remove Filters</a>
        </ul>
        </form>
        <hr class="my-6">
        <p class="font-semibold">Duration of renting</p>
        <ul>
            {% for category in categories %}
                <li class="py-2 px-2 rounded-xl {% if category.id == category_id %} bg-gray-200 {% endif %}">
                    <a href="{% url 'property:properties' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}{{ category.id }}</a>
                </li>
                {% endfor %}
            
                

        </ul>

        <hr class="my-6">
        <p class="font-semibold">Country</p>
        <ul>
            
            
                {% for countries in countries %}
                <li class="py-2 px-2 rounded-xl {% if countries.id == countries_id %} bg-gray-200 {% endif %}">
                    <a href="{% url 'property:properties' %}?query={{ query }}&countries={{ countries.id }}">{{ countries.name }} {{ countries.id }}</a>
                </li>
            {% endfor %}

        </ul>


        <hr class="my-6">
        
    </div>
    <div class="col-span-3">
        {% for property in properties %}
        {% if request.user != property.created_by %}

        <div>
            <a href="{% url 'property:detail' property.id %}">
                <div>
                    <img src="{{ property.image1.url }}" alt="" class="rounded-t-xl">
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">PCM: £{{ property.price_pcm }}</h2>
                    <h2 class="text-1xl">Tenancy Length: {{property.category}} </h2>
                    <p class="text-gray-500">Postcode: {{ property.postcode }}</p>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Related properties</h2>
    <div class="grid grid-cols-3 gap-3">
        {% for property in properties %}
        {% if request.user != property.created_by %}
        <div>
            <a href="{% url 'property:detail' property.id %}">
                <div class="">
                    <img src="{{property.image1.url }}" alt="" class="rounded-t-xl">
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">PCM: {{property.price_pcm}}</h2>
                    <h2 class="text-1xl">Tenancy Length: {{property.category}} </h2>
                    <p class="text-gray-500">ppw: {{property.ppw}}</p>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div> 


{% endblock %} 
