{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock title %}

{% block content %}


<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Newest Listings</h2>
    <div class="grid grid-cols-3 gap-3">
        {% for property in properties reversed %}
        {% if request.user != property.created_by %}

        <div>
            <a href="{% url 'property:detail' property.id %}">
                <div class="">
                    <img src="{{ property.image1.url }}" alt="" class="rounded-t-xl">
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">PCM: £{{property.price_PCM}} </h2>
                    <h2 class="text-1xl">Tenancy Length: {{property.category}} </h2>
                    <p class="text-gray-500">Postcode: {{property.postcode}}, {{property.city}}</p>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}
